body {
	background-color: lightblue;
	font-family: Arial;
}

/* Header part */
#header {
	background-color: yellow;
	text-align: center;
	padding: 10px;
}

/* Navigation */
ul {
	list-style-type: none;
}

li {
	display: inline;
	margin: 10px;
	color: red;
}

/* Main content */
h1 {
	color: green;
	text-align: center;
}

article {
	background-color: white;
	padding: 10px;
	margin: 20px;
	border: 1px solid black;
}

/* Footer */
footer {
	text-align: center;
	background-color: gray;
	color: white;
	padding: 10px;
}
